<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/a4d4bde0-b712-4060-a144-60db822c99db/resourceGroups/rg-consoleops-learning/providers/Microsoft.ContainerRegistry/registries/consoleopsregistry123</ContainerResourceId>
    <ContainerResourceName>consoleopsregistry123</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>consoleopsregistry123.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>console-ops-container</ContainerName>
    <EnvironmentName>consoleops-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://consoleops-api.purpleforest-1cdd3ef5.southeastasia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/a4d4bde0-b712-4060-a144-60db822c99db/resourceGroups/rg-consoleops-learning/providers/Microsoft.App/containerapps/consoleops-api</ResourceId>
    <ResourceGroup>rg-consoleops-learning</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>